
h2.bright{
	border-style: solid;
	border-width: 5px;
	background-color: #ffffcc; 
	position: absolute;
	
}

h1.bright {
	font-family: 'Lobster Two', cursive;
	font-weight: lighter;
}

h2.blyrics{
	position: absolute;
	left: 1000px;
	top: 70px;
	font-family: 'Lobster Two', cursive;
	font-weight: lighter;
	font-size: 30px;
}

.lyrics-bright h2 {
	position: absolute;
	left: 790px;
	top: 150px;
	font-family: 'Lobster Two', cursive;
	font-weight: lighter;
	font-size: 22px;
	border-style: solid;
	border-width: 5px;
	background-color: rgba(255, 255, 204, 0.75); 
}

.lyrics-bright2 h2 {
	position: absolute;
	left: 1090px;
	top: 150px;
	font-family: 'Lobster Two', cursive;
	font-weight: lighter;
	font-size: 22px;
	border-style: solid;
	border-width: 5px;
	background-color: rgba(255, 255, 204, 0.75); 
}

h1.purify, h2.purify, .purify-lyrics h2 {
	color: #ffb914;
}

h2.purify {
	border-style: solid;
	background-color:#6E0D25;
	position: absolute;
}

h2.pLyrics, h2.moon {
	position: absolute;
	top: 59px;
	left: 1000px;
	font-size: 30px;
	color: #ffb914;
}

.purify-lyrics{
	position: absolute;
	left: 850px;
	border-style: solid;
	background-color: #6E0D25;
	color: #ffb914;
}

.vuelie {
	color: white;
	border-style: solid;
	background-color: #010151;
	position: absolute;
}

.gentlemen {
	color: white;
	border-style: solid;
	position: absolute;
	background-color: #ccad00;
}

.lunar {
	color: white;
	border-style: solid;
	position: absolute;
}

.lunar-lyrics {
	position: absolute;
	left: 850px;
	border-style: solid;
	background-color: rgba(43, 58, 103,0.75);
	color: #ffb914;
	font-size: 20px;
}